<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="33.0.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" />
  <package id="Microsoft.ML" version="3.0.1" manuallyInstalled="true" />
  <package id="Microsoft.ML.CpuMath" version="3.0.1" />
  <package id="Microsoft.ML.DataView" version="3.0.1" />
  <package id="Microsoft.ML.FastTree" version="3.0.1" manuallyInstalled="true" />
  <package id="Microsoft.ML.OneDal" version="0.21.1" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.CodeDom" version="4.5.0" />
  <package id="System.Collections.Immutable" version="1.5.0" />
  <package id="System.Numerics.Tensors" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="4.7.1" />
</packages>